*{
  outline: none;
  text-decoration: none;
}

*::selection{
  background:var(--orange);
  color: #fff;
}


header{
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  background:darkgreen;
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
  width: 100%;

}

header .heading{
  font-size: 3rem;
  color: lightgreen;
  padding-left: 2rem;

}

header .navbar ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  border-radius: 3px;
  position: fixed;
  top: 1rem; right: 0;
  z-index: 1000;

}

header .navbar ul li{
  margin: 0 1.5rem;
}

header .navbar ul li a{
  font-size: 2rem;
  color:black;
  font-weight: bold;
  margin: 5%;
}

header .navbar ul li a:hover{
  color: lightgreen;
}

section{
  background: #444 no-repeat;
  background-size: cover;
  width: 100%;
  top: 0; left: 0;
  z-index: 1000;
}

.home{
  min-height: 100vh;
  display: flex;
  align-items:center;
  justify-content: space-around;
  flex-wrap: wrap;

}

.home h2{
  font-size: 3rem;
  color: #999;
  font-style: italic;
  font-weight: bolder;
  padding: 4rem;
  padding-top: 7rem;
}

.home h3{
  font-size: 2rem;
  color: darkgreen;
  padding-left: 3rem;

}

.home .content p{
  font-size: 1.5rem;
  color: #fff;
  padding-left: 1rem;
}

.home .image img{
  width: 75%;
  padding: 5rem;
  padding-left: 10rem;
}

.home .image1 img{
  width: 75%;
  padding: 5rem;
  padding-left: 10rem;
}



.footer{
  background: #333;
}

.footer .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box{
  margin: 0.5rem;
  flex: 1 1 30rem;
}

.footer .box-container .box h3{
  font-size: 2rem;
  color: darkgreen;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  color: lightgreen;
  padding: 1rem 0;
}

.footer .box-container .box a{
  font-size: 1.4rem;
  color: lightgreen;
  padding:.1.5rem 0;
  display: block;
}

.footer .box-container .box a:hover{
  text-decoration: underline;
  color: orange;
}

.box1{
  margin: 2rem;
  flex: 1 1 30rem;
}

.box1 p{
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
}

.box1:nth-child(2){
  text-align:center;
}

.box1 form{
  display: flex;
  align-items: center;
}

.box1 form input[type="email"]{
  height: 3rem;
  width: 30%;
  font-size: 1.7;
  padding: 0 1rem;
}

.box1 form .btn{
  background: darkgreen;
  margin-top: 0;
  padding: 1rem;
}

.box1 form .btn:hover{
  color: #333;
  background: lightgreen;
}

.image{
  flex: 1 1 100rem;
}

.image img{
  width: 75%;
  padding: 5rem;
  padding-left: 10rem;
}
